* {
    background-color: black;
    font-family: 'Bai Jamjuree', sans-serif;
    color: deeppink;
    text-align: center;
    box-sizing: border-box;
}
.column {
  float: right;
  width: 100%;
  flex: 50%;
}

/* Clear floats after image containers */
.row::after {
  clear: both;
  display: table;

}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
  
}